.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

/build/
/CMakeUserPresets.json

.mypy_cache
.venv/

dbs/
bin/
multi_threaded
single_threaded
